<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 200px;
            width: 100%;
            background-color: grey;
        }
    </style>
</head>
<body>
    <footer>
        <div>
            <h2>Contact</h2>
            <h3>Servin' Lancaster since 65'.</h3>
            <h3>981 Diner Avenue Lancaster, PA 17601</h3>
            <h4> + 1(717) 626-0956</h4>
        </div>
        <div>
            <h2>Our Hours</h2>
            <h3>Open 24/7, every week!</h3>
        </div>
        <div>
            <h2>Social:</h2>
            <button><a href="https://twitter.com/home">Twitter</a></button>
            <button><a href="https://www.facebook.com/">Facebook</a></button>
            <button><a href="https://www.instagram.com/">Instagram</a></button>
        </div>
    </footer>
</body>
</html>