<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 200px;
            width: 100%;
            background-color: grey;
        }
    </style>
</head>
<body>
    <footer>
        <div>
            <h1>Contact</h1>
            <h4>Serving all of Lancaster</h4>
            <h4>+1 (717) 492-5902</h4>
        </div>
        <div>
            <h1>Our Hours</h1>
            <h2>Open 7 Days a Week,</h2>
            <h4>24/7</h4>
        </div>
        <div>
            <h1>Social</h1>
            <button>Twitter</button>
            <button>Facebook</button>
            <button>Instagram</button>
        </div>
    </footer>
</body>
</html>