<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: gainsboro;
        }
        .header-buttons{
            display: flex;
            justify-content: space-evenly;
            width: 75%;
        }
        .login-cart{
            display: flex;
            justify-content: space-evenly;
            width: 15%;
        } 
    </style>
</head>
<body>
    <header>
        <div class="header-buttons">
            <h2>Wilson's Kitchen</h2>
            <h2>Home</h2>
            <h2>About Us</h2>
            <h2>Menu</h2>
            <h2>Specials</h2>
            <h2>Order Now</h2>
            <h2>Catering</h2>
            <h2>Gift Cards</h2>
        </div>
        <div class="login-cart">
            <h2>Log in</h2>
            <h2>Check Cart</h2>
        </div>
    </header>    
</body>
</html>