<!DOCTYPE html>
<html>
    <head>
        <title>Wilson's Diner</title>
        <style>
            html, body{
                margin: 0;
                overflow-x: hidden;
            }
        </style>
    </head>
    <body>
        {% include 'header_and_footer/header.html' %}
        <section class="diner-info">
            <h2>Wilson's Diner</h2>
            <div>
                <h5>Address</h5>
                <hr>
                <h5>981 Diner Avenue Lancaster, PA 17601</h5>
                <hr>
            </div>
            <div>
                <h4>Call Us:</h4>
                <hr>
                <h4>(717) 626-0956</h4>
                <hr>
            </div>
            <p>As an Award-Winning Diner,
                we have been dedicated to serving America's classic dishes from all corners of the United States
                to Lancaster's since 1965 and will never stop.
            </p>
        </section>
        <section>
            <h2>Menu</h4>
                <hr>
        </section>
        <section>
            <h2>Specials</h2>
            <hr>
        </section>
        {% include 'header_and_footer/footer.html' %}
    </body>
</html>gi